/*--------------------------------------------------------------------*/
/*          Global: All Styles, Colors Palette and Fonts              */
/*--------------------------------------------------------------------*/

* {
	padding: 0px;
	margin: 0px;
	font-family: RobotoLight;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    cursor: url("../ressources/cursors/cursor.png"), auto;
}

/*
html::-webkit-scrollbar { width: 0 !important }
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }
*/

/*--------------------------------------------------------------------*/
/*                           Color Palette                            */
/*--------------------------------------------------------------------*/

:root {
    --c-black: #1F272D;     /* Black    [31;  39;  45]  */
    --c-grey: #24313A;      /* Grey     [36;  49;  58]  */
    --c-white: #F4F0EB;     /* White    [244; 240; 235] */

    --c-orange: #FFB528;    /* Orange   [255; 181; 40]  */

    --c-brown: #C6AC8F;     /* Brown    [198; 172; 143] */
    --c-beige: #E2D0BE;     /* Beige    [226; 208; 190] */

    --c-blue: #124559;      /* Blue     [18;  69;  89]  */
    --c-charon: #598392;    /* Charon   [89; 131; 146]  */
}

/*--------------------------------------------------------------------*/
/*                        Images References                           */
/*--------------------------------------------------------------------*/

:root {
    --i-switchbk: url("../../ressources/images/Switchbackground.png"); /* From home.css */
}
/*--------------------------------------------------------------------*/
/*                            Roboto Font                             */
/*--------------------------------------------------------------------*/

@font-face {
    font-family: 'RobotoLight';
    src: url('../ressources/fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../ressources/fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegularItalic';
    src: url('../ressources/fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../ressources/fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../ressources/fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../ressources/fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------------------*/
/*                          Config Condensed Font                     */
/*--------------------------------------------------------------------*/

@font-face {
    font-family: 'ConfigBold';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-bold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigBoldItalic';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigExtraBold';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-extrabold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigLight';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-light-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigRegular';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-regular-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



