/*--------------------------------------------------------------------*/
/*          Global: All Styles, Colors Palette and Fonts              */
/*--------------------------------------------------------------------*/

* {
	padding: 0px;
	margin: 0px;
	font-family: RobotoLight;
}

a {
    color: currentColor;
    text-decoration: none;
}   

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: var(--primary-text);
    /*cursor: url("../ressources/cursors/cursor.png"), auto;*/
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/*
html::-webkit-scrollbar { width: 0 !important }
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }
*/

/*--------------------------------------------------------------------*/
/*                           Color Palette                            */
/*--------------------------------------------------------------------*/

:root {
    --c-black: #1F272D;     /* Black    [31;  39;  45]  */
    --c-grey: #24313A;      /* Grey     [36;  49;  58]  */
    --c-white: #F4F0EB;     /* White    [244; 240; 235] */

    --c-orange: #FFB528;    /* Orange   [255; 181; 40]  */

    --c-brown: #C6AC8F;     /* Brown    [198; 172; 143] */
    --c-beige: #E2D0BE;     /* Beige    [226; 208; 190] */

    --c-blue: #124559;      /* Blue     [18;  69;  89]  */
    --c-charon: #598392;    /* Charon   [89; 131; 146]  */

    --c-pastel-pink: #FFB3BA;
    --c-pastel-sand: #FFDFBA;
    --c-pastel-yellow: #FFFFBA;
    --c-pastel-green: #BAFFC9;
    --c-pastel-blue: #BAE1FF;
    --c-pastel-violet: #CC9AF4;

    --c-darker: #1E2722;
    --c-dark: #282c34;
    --c-light: #282c34;

    --c-theme-light: #F4F0EB;
    --c-theme-dark: #1E2722;
    --c-theme-solarize: #BAFFC9;
}

.solar {
    --c-theme-solarize: #FFB528;
    --c-orange: #BAFFC9;
}

.light {
    --primary-text: var(--c-black);
    --secondary-text: var(--c-beige);

    --primary-bg: var(--c-white);
    --secondary-bg: var(--c-beige);

    --primary-dark: var(--c-black);
    --secondary-dark: var(--c-grey);

    --text-nav: var(--c-white);
    --primary-nav: var(--c-orange);
    --secondary-nav: var(--c-brown);

    --primary-elem: var(--c-blue);
    --secondary-elem: var(--c-charon);

    --pastel-A: var(--c-pastel-pink);
    --pastel-B: var(--c-pastel-sand);
    --pastel-C: var(--c-pastel-yellow);
    --pastel-D: var(--c-pastel-green);
    --pastel-E: var(--c-pastel-blue);
    --pastel-F: var(--c-pastel-violet);
}

.dark {
    --primary-text: var(--c-white);
    --secondary-text: var(--c-light);

    --primary-bg: var(--c-black);
    --secondary-bg: var(--c-dark);

    --primary-dark: var(--c-darker);
    --secondary-dark: var(--c-light);

    --text-nav: var(--c-white);
    --primary-nav: var(--c-dark);
    --secondary-nav: var(--c-light);

    --primary-elem: var(--c-orange);
    --secondary-elem: var(--pastel-D);

    --pastel-A: var(--c-pastel-pink);
    --pastel-B: var(--c-pastel-sand);
    --pastel-C: var(--c-pastel-yellow);
    --pastel-D: var(--c-pastel-green);
    --pastel-E: var(--c-pastel-blue);
    --pastel-F: var(--c-pastel-violet);
}

/*--------------------------------------------------------------------*/
/*                        Images References                           */
/*--------------------------------------------------------------------*/

:root {
    
    --i-switchbk: url("../../ressources/images/Switchbackground.jpg"); /* From home.css */
    --i-code: url("../../../ressources/images/Code.jpg");
}
/*--------------------------------------------------------------------*/
/*                            Roboto Font                             */
/*--------------------------------------------------------------------*/

@font-face {
    font-family: 'RobotoLight';
    src: url('../ressources/fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../ressources/fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegularItalic';
    src: url('../ressources/fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../ressources/fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../ressources/fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../ressources/fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------------------*/
/*                          Config Condensed Font                     */
/*--------------------------------------------------------------------*/

@font-face {
    font-family: 'ConfigBold';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-bold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigBoldItalic';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigExtraBold';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-extrabold-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigLight';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-light-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConfigRegular';
    src: url('../ressources/fonts/ConfigCondensed/configcondensed-regular-webfont.woff2') format('woff2'),
         url('../ressources/fonts/ConfigCondensed/configcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



