/*--------------------------------------------------------------------*/
/*                   Content page bar : Bar, Divs                     */
/*--------------------------------------------------------------------*/

/*---------------------- Content page bar Global ---------------------*/
#content{
	width: 100vw;
}

/*--------- Content page bar First part : NavBar and Burger ----------*/
#navbar {
	top:0;
	position: -webkit-sticky;
 	position: sticky;
 	width: 100vw;
 	z-index: 100;
}

#navbar ul {
	background-color: var(--c-black);

	list-style-type: none;
	overflow: hidden;
	height: 50px;
}

#navbar ul li {
	float: left;
	height: 100%;

}

#navbar ul li a {
	color: var(--c-white);
	font-family: RobotoMedium;
	transition: 0.1s ease;

	display: block;
	text-align: center;
	text-decoration: none;
	padding: 16px 0px 20px;
	width: 12vw;
}

#navbar ul li a:hover {
	background-color: var(--c-grey);
	color: var(--c-brown);
	font-size: 1.4em;
	transition: 0.1s ease;

	padding-top: 10px;
}

.navbar-responsive:hover{
	border-top: 3px solid var(--c-orange);
}

#navbar .navbar-icon {
	background-color: var(--c-orange);
	height: 100%;
	padding: 0px;
	transition: 0.5s ease;
}

#navbar .navbar-icon:hover {
	border-left: 40px solid var(--c-orange);
	transition: 0.5s ease;
}

#burger-li {
	visibility: hidden;
	display: none;

	position: absolute;
	right: 0px;
	background-color: var(--c-blue);
	width: 80px;
}

#burger {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 45%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	width: 45px;
  	cursor: pointer;
}

span {
	display: block;
	width: 100%;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
	border-radius: 3px;
	height: 8px;
	background: #fff;
	transition: all .3s;
	position: relative;
}

span + span {
	margin-top: 6px;
}

.active span + span {
	margin-top: 14px;
}

.active span:nth-child(1) {
	animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
	animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
	animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
	animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
	animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
	animation: ease .7s bottom-2 forwards;
}

@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}
		50% {
		top: 22px;
		transform: rotate(0);
	}
		100% {
		top: 22px;
		transform: rotate(45deg);
	}
}

@keyframes top-2 {
	0% {
		top: 22px;
		transform: rotate(45deg);
	}
	50% {
		top: 22px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}

@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: 22px;
		transform: rotate(0);
	}
	100% {
		bottom: 22px;
		transform: rotate(135deg);
	}
}

@keyframes bottom-2 {
	0% {
		bottom: 22px;
		transform: rotate(135deg);
	}
	50% {
		bottom: 22px;
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}

@keyframes scaled {
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes scaled-2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

/*-------------- Content page bar Second part : Content ---------------*/
.hide-content {
	display: none;
	visibility: hidden;
}

.hide {
	display: none;
	visibility: hidden;
}

#scroller {
	display: block;
	position: fixed;
	margin: 0;
	top: 50%;
	left: 10px;
	-ms-transform: translateY(-30%);
	transform: translateY(-30%);
}

#scroller div {
	margin-top: -50px;
}

#scroller div:hover {
	fill: var(--c-orange);
}

#scroll-top {
	height: 50px;
	width: 70px;

	display: block;
	position: fixed;
	bottom: 0px;
	right: 50px;
	z-index: -2;
}

#scroll-top-button {

	height: 100%;
	width: 100%;
	padding-top: 27px;
	padding-right: 30px;
	text-align: center;

	transition: color 0.5s ease, background-color 0.5s ease;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);

	color: var(--c-white);
	background-color: var(--c-orange);;
	border: none;
}

#scroll-top-button:hover {
	color: var(--c-grey);
	background-color: var(--c-white);
}

/*--------------------------------------------------------------------*/
/*                       All : width < 1050px                         */
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1050px) {
	#scroller{
		display: none;
		visibility: hidden;
	}

	#burger-li {
		visibility: visible;
		display: block;
	}

	.navbar-unactive .navbar-responsive {
		display: none;
		visibility: hidden;
	}

	.navbar-active {
		overflow: visible;
	}

	#navbar ul {
		overflow: visible;
	}

	.navbar-active ul li {
		width: 100vw;
		background-color: var(--c-black);
	}

	.navbar-unactive ul li {
		display: none;
	}

	#navbar ul li a {
		text-align: center;
		width: 100%;
	}

	.navbar-active .navbar-responsive {
		display: block;
		text-align: left;
		float: none;
		width: 100vw;
	}

	.navbar-responsive a {
		text-align: center;
	}

	#navbar .navbar-icon:hover {
		height: 41px;
	}

}

@media only screen and (max-height: 625px) { 
	#content {
		position: absolute;
		top: 625px;
	}
}