/*--------------------------------------------------------------------*/
/*              Home page bar : Title, Style and NavBar               */
/*--------------------------------------------------------------------*/

/*----------------------- Home page bar Global -----------------------*/

#home {
	background-color: var(--secondary-elem);

	background-image: var(--i-switchbk);
	height: 100vh;
	background-size: cover;
}

#home-bar {
	height: 70px;
}


#home-bar div,#home-bar nav {
	display: inline-block;
}

/*------------ Home page bar First part : Title and Style ------------*/
#home-content {
	position: absolute;
	top: 0px;
	width: 300px;
	height: 70px;
	overflow: hidden;
	z-index: 43;
}

#home-content-background {
	background-color: var(--primary-nav);

	width: 300px;
	height: 300px;
	transform: rotate(-15deg)translateX(2%)translateY(-15%);
}

#home-content-title {
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-45%);
		transform: translateY(-45%);
}

#home-content-logo, #home-content-title {
	color: var(--primary-dark) ;

	transition: 0.3s ease;
	left: 10px;
}

#home-content-title img, #home-content-title div {
	display: inline-block;
}

#home-content-logo img {
	width: 70px;
}

#home-content-title img {
	width: 55px;
}

#home-content-title p {
	padding-left: 5px;
}

#home-content-title-L {
	color: transparent;
	font-family: RobotoMediumItalic;
	font-size: 1em;

	text-shadow: 0px 5px 0px var(--primary-text);
}

#home-content-title-M {
	color: transparent;
	font-family: ConfigLight;
	font-size: 1.6em;

	letter-spacing: 5px;
	text-shadow: 20px -5px 0px var(--text-nav);

	-moz-transform: skew(15deg, 0deg);
	-webkit-transform: skew(15deg, 0deg);
	-o-transform: skew(15deg, 0deg);
	-ms-transform: skew(15deg, 0deg);
	transform: skew(15deg, 0deg);	
}

#home-content-logo {
	font-family: RobotoRegularItalic;
	position: absolute;
	font-size: 1.6em;
	top: -100px;
	left: 100px;
	z-index: 100;
}

#home-content:hover #home-content-background{
	background-color: var(--secondary-nav);
	transition: 0.4s ease;
}

#home-content:hover #home-content-title{
	color: var(--primary-bg);
	transition: 0.4s ease;
	top: 140px;
}

#home-content:hover #home-content-logo{
	top: 50%;
	-ms-transform: translateY(-45%);
		transform: translateY(-45%);
	transition: 0.5s ease;
}

.rect-bar {
	background-color: var(--primary-text);
	display: inline-block;
	position: absolute;
	top: 30%;
	
	-moz-transform: skew(15deg, 0deg);
	-webkit-transform: skew(15deg, 0deg);
	-o-transform: skew(15deg, 0deg);
	-ms-transform: skew(15deg, 0deg);
	transform: skew(15deg, 0deg);	
}

#rect-barA {
	left: 258px;
	height: 45px;
	width: 10px;
}

#rect-barB {
	left: 248px;
	height: 45px;
	width: 5px;
}

/*--------------- Home page bar Second part : NavBar ----------------*/

#home-navbar-background {
	background-color: var(--primary-elem);

	position: absolute;
	width: 100%;
	height: 70px;
	z-index: 41;
}

#home-navbar {
	z-index: 50;
}

#home-navbar-holder {
	color: var(--primary-bg);
	background-color: var(--primary-dark);

	width: calc(100vw - 320px);
	list-style-type: none;
	
	z-index: 50;
	top: 23px;
	left: 284px;
	position: absolute;
	height: 47px;

	-moz-transform: skew(15deg, 0deg);
	-webkit-transform: skew(15deg, 0deg);
	-o-transform: skew(15deg, 0deg);
	-ms-transform: skew(15deg, 0deg);
	transform: skew(15deg, 0deg);
}

.home-navbar-button {
	width: calc(33% - 96px);
	float: left;
}

.home-navbar-button a {
	color: transparent;
	font-family: RobotoBold;
	font-size: 1.2em;

	text-shadow: 0px 0px 0px var(--text-nav),
				0px 0px 0px var(--primary-dark);

	padding: 10px 12px;
	transition: 0.5s ease;
	display: block;
	text-align: center;
	text-decoration: none;

}

.home-navbar-button a:hover{
	color: transparent;
	font-size: 1.3em;

	text-shadow: -4px -4px 0px var(--text-nav),
				0px 0px 0px var(--primary-dark);

	transition: 0.1s ease;
	background-color: var(--secondary-dark);
}

.home-navbar-theme {
	background-color: var(--secondary-dark);
	float: right;
	height: 47px;
	text-align: center;
	width: 40px;
}

.home-navbar-theme a {
	display: block;
	text-align: center;
  	height: 100%;
  	width: 100%;
}

.home-navbar-theme a i {
	color: var(--text-nav);
	position:relative;
    top: 25%;	

    -moz-transform: skew(-15deg, 0deg);
	-webkit-transform: skew(-15deg, 0deg);
	-o-transform: skew(-15deg, 0deg);
	-ms-transform: skew(-15deg, 0deg);
	transform: skew(-15deg, 0deg);
}

.theme-dropdown {
	position: absolute;
	right: 0px;
	width: 300px;
	
	z-index: 60;
	background: var(--primary-elem);
	border-top: 2px solid var(--primary-bg);

	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 1rem;
	margin-top: 0px;
	padding:0.5rem;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease 0.5s, opacity 0.5s ease;

	list-style-type: none;
}

.theme-dropdown-item a {
	width: 100%;
	height: 100%
	size: 0.7rem;
	font-weight: bold;

    -moz-transform: skew(-15deg, 0deg);
	-webkit-transform: skew(-15deg, 0deg);
	-o-transform: skew(-15deg, 0deg);
	-ms-transform: skew(-15deg, 0deg);
	transform: skew(-15deg, 0deg);
}

.theme-dropdown-item a::before {
	content: ' ';
	border: 2px solid white;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;

	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#light::before {
	background: var(--c-theme-light);
}

#dark::before {
	background: var(--c-theme-dark);
}

#solar::before {
	background: var(--c-theme-solarize);
}

.home-navbar-theme:focus-within .theme-dropdown {
	pointer-events: auto;

	visibility: visible;
	opacity: 1;
	transition-delay:0s;
}

.home-navbar-flags {
	overflow: hidden;
	height: 47px;
	float: right;
	transition: width 0.2s ease;
	background-color: var(--primary-dark);
	width: 250px;
}

.home-navbar-flags div {
	display: inline-block;
	width: 80px;
}

/*--------------------------------------------------------------------*/
/*             Home page switch : SwitchMenu and HomeDiv              */
/*--------------------------------------------------------------------*/

/*---------------------- Home page switch Global ---------------------*/
#switch {
	padding: 0px;
	height: 80vh;
}

#switch-menu, #switch-content, #menu-grip {
	position: absolute;
	vertical-align: top;
	height: 80vh;
}

.animated {
	transition: all 0.4s cubic-bezier(.37,1.03,.46,1.13);
}

/*------------- Home page switch First part : SwitchMenu -------------*/
#switch-menu {
	width: 50vh;
	z-index: 42;
}

#menu-background {
	background-color:var(--secondary-elem);
	cursor: pointer;

	width: 50vh;
	height: 80vh;
	z-index: 42;
}

#menu-grip {
	overflow: hidden;
	height: 80vh;
	width: 45vh;
	left: 50vh;
}

#menu-grip div {
	background-color:var(--secondary-elem);
	cursor: pointer;

	position: absolute;
	width: 56.6vh;
	height: 56.6vh;
	transform: rotate(135deg)translateX(50%)translateY(21%);	
}

#locker {
	border-radius: 10px;
	background-color: var(--c-black);
	position: absolute;
	height: 70vh;
	width: 35vh;
	margin-top: 30px;
	margin-left: 60px;
	overflow: hidden;
}

#locker-screen {
	border-radius: 5px;
	margin: 10px;
	background-color: var(--c-light);

	height: 60px;
}

#locker-textholder {
	color: var(--c-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
    font-family: RobotoBold;
    font-size: 1.8em;
}

#locker-pad {
	margin: 4px;
}

.locker-button {
	font-family: RobotoBold;
	font-size: 1.2em;
	height: 50px;
	width: 10vh;
	border-radius: 5px;
	color: var(--c-white);
	background: var(--c-dark);
	border: 0px;
	margin: 3px;
}

.locker-button:hover {
	background: var(--c-lighter);
}

.locker-button:active {
	background: var(--c-black);
}

#reset-button {
	font-family: RobotoBold;
	font-size: 1.2em;
	height: 50px;
	width: calc(20vh + 9px);
	border-radius: 5px;
	color: var(--c-white);
	background: var(--c-dark);
	border: 0px;
	margin: 3px;
}

#reset-button:hover {
	background: var(--c-lighter);
}

#reset-button:active {
	background: var(--c-black);
}

#locker-instructions {
	background-color: var(--c-grey);
	font-family: RobotoMedium;
	font-size: 1em;
	padding: 15px;
	color: var(--c-grey);
	height: 500px;
}

@keyframes color-rotate {
	from {
		filter: hue-rotate(0deg);
	} to {
		filter: hue-rotate(360deg);
	}
}

.rgba-screen {
	animation: color-rotate 1s;
	animation-iteration-count: infinite;
	animation-direction: alternante;
}

@-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0deg) }
    to { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.barrel-roll {
    -moz-animation-name: roll;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

#switch-menu div {
	display: block;
}

.switch-menu-open {
	left: -5vh;
}

.switch-menu-close {
	left:-45vh;
}

/*-------------- Home page switch Second part : HomeDiv --------------*/
#switch-content {
	z-index: 41;
	width: 200vh;

}

.switch-content-open {
	left:40vh;
}

.switch-content-close {
	left: 0px;
}

#div-home-background {
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 90vh;
	left: 30vw;
	transition: none;
}

#div-home-background div {
	background-color: var(--primary-bg);

	position: absolute;
	width: 100vw;
	height: 200vh;
	left: 30vw;
	transform: rotate(-10deg)translateX(-5%)translateY(-20%);
}

#div-home {
	position: absolute;
	left: 55vw;
	top: 10vh;
	width: 80vh;
	height: 100%;
	overflow: hidden;
}

#div-home h2 {
	margin-top: 10px;
	font-family: RobotoMedium;
	font-size: 1.8em;
	text-shadow: 60px -12px var(--secondary-nav);
}

#presentation1, #presentation2 {
	display: inline-block;
	font-family: RobotoBold;
}

#presentation1 {
	font-size: 5em;
	color: var(--tertiary-text);
}

#presentation2 {
	font-size: 1.8em;
	margin: 10px;
}

#presentation3 {
	margin-right: 20px;
	margin-bottom: 10px;

	padding-right: 10px;
	padding-left: 10px;

	font-size: 1.2em;
	font-family: RobotoMediumItalic;
	text-align: justify;
    text-align-last: center;
}

#div-cv {
	width: auto;
	padding: 10px 0;
	text-align: center;
}

#cvlink {
	color: var(--text-nav);
	font-weight: bold;
	padding: 10px;
	background-color: var(--primary-dark);
	border-radius: 20px;
	text-decoration:none;
}

/*-------------- Home page switch : Next --------------*/

#home-next {
	background-color: var(--primary-nav);
	cursor: pointer;
	transition: background-color 0.5s ease;

	width: 100vw;
	height:calc(20vh - 60px);
	position: absolute;
  	left: 0px;
  	bottom: -5px;
  	
  	z-index: 65;
}

#home-next-button {
	font-family: RobotoMedium;
	font-size: 2em;
	transition: background-color 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;

	z-index: 42;
	position: absolute;

  	left: 50%; 	
	bottom: 50%;
  	-ms-transform: translateX(-50%) translateY(50%);
		transform: translateX(-50%) translateY(50%);


}

#home-next:hover {
	background-color: var(--secondary-nav);
	transition: background-color 0.5s ease;
}

#home-next:hover #home-next-button{
	
	font-size: 2.4em;

	transition: background-color 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
	text-shadow: 50px 0px var(--primary-bg), -50px 0px var(--primary-bg);
}

/*--------------------------------------------------------------------*/
/*                       All : width < 1050px                         */
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1250px) {

	#switch-menu {
		display: none;
	}

	.switch-content-open {
		left: 0px;
	}

	#switch-content {
		width: 100vw;
		height: calc(100vh - 130px);
		overflow: hidden;
	}

	#switch-content div {

		clip-path: polygon(100% 100%, 100% 1%, 80% 4%, 0% 0%, 0% 100%);
		width: 100vw;
		top: 100px;
		left: 0px;
		transform: rotate(0deg)translateX(0%)translateY(0%);
	}

	#div-home {
		position: absolute;
		left: 0px;
		padding: 140px 10px 0px 10px;
	}

}


/*--------------------------------------------------------------------*/
/*                       All : width < 950px                         */
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {

	.home-navbar-button a {
		display: none;
	}
}

/*--------------------------------------------------------------------*/
/*                       All : height < 800 px                         */
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 800px) {

	#div-home h2 {
		font-size: 1.4em;
	}

	#presentation1 {
		margin-top: -10px;
		font-size: 2.6em;
	}

	#presentation2 {
		margin-top: 0px;
		font-size: 1.4em;
	}

	#presentation3 {
		margin-top: 0px;
		font-size: 1em;
	}
}


/*--------------------------------------------------------------------*/
/*                       All : height < 625 px                         */
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 625px) {

	/*------------- Home page switch First part : SwitchMenu -------------*/
	#switch-menu {
		width: 312.5px;
		background-color: var(--primary-text);
	}

	#menu-background {
		width: 312.5px;
		height: 500px;
	}

	#menu-grip {
		height: 500px;
		width: 250px;
		left: 312.5px;
	}

	#menu-grip div {
		width: 354.125px;
		height: 354.125px;
	}

	#locker  {
		height: 440px;
		width: 220px;
	}

	.locker-button {
		width: 63px;
	}

	#reset-button {
		width: 132px;
	}

	#locker-instructions {
		padding: 10px;
		font-size: 0.8em;
	}

	.switch-menu-open {
		left: -32.25px;
	}

	.switch-menu-close {
		left:-280px;
	}

	/*-------------- Home page switch Second part : HomeDiv --------------*/

	.switch-content-open {
		left: 250px;
	}

	#div-home-background {
		height: 500px;
	}

	#div-home-background div {
		height: 1250px;
	}

	#div-home {
		top: 62.5px;
		width: 500px;
	}

	#home-next {
		height: 67.5px;
		position: absolute;
		top: 570px;
	}

	#switch-content {
		height: 505px;
	}

	#home {
		height: 620px;
	}

}

