#div-contact {
	background-color: var(--c-white);
	padding: 20px 60px 20px;
	margin-bottom: 200px;
}

#div-contact h1 {
	font-family: RobotoMedium;
	font-size: 3em;
	border-bottom: 2px solid var(--c-orange);
	margin-bottom: 10px;
}

#div-contact p {
	font-size: 1.4em;
	font-family: RobotoLight;
	padding: 10px;
}

#contact-table div {
	display: inline-block;
	height: 100%;
}

.contactdiv {
	background-color: red;
	padding: 0px 0px 20px 20px;
	border-radius: 20px;
	background-color: var(--c-grey);

    padding-left: 10px;
    padding-right: 10px;
}

#contact-table h2 {
	color: var(--c-orange);
	padding: 5px;
	margin-top: 20px;
	font-family: RobotoRegularItalic;
}

.contact {
	color: white;
	text-decoration: none;
	width: 40vw;
	display: block;

    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 3px;
	border: 3px solid var(--c-orange);
	border-radius: 10px;
	background-color: var(--c-white);
}

.contact:hover i{
	padding-right: 20px;
}

.contact p , .contact i {
	display: inline-block;
}

.contact p {
	font-size: 1.2em;
	padding-left: 20px;
	font-family: RobotoMediumItalic;
	color: black;
}

.contact i {
	text-align: center;
	width: 30px;
	font-size: 1.6em;
	color: var(--c-grey);
	padding: 15px;
	background-color: var(--c-orange);
	padding-right: 80%;

	text-shadow: var(--c-white) 2px 2px; 
	transition: padding 0.5s ease;
	border-radius: 10px;
}

#references {
	margin: 20px;
	padding: 20px;
}

#references h2 {
	margin-top: 10px;
	font-family: RobotoMedium;
	font-size: 1.8em;
	text-shadow: 12px -12px var(--c-brown);
}

#references ul {
	list-style: none;
}

#references li {
	margin: 3px;
	padding: 10px;
	background-color: var(--c-beige);
	border-radius: 20px;
}

#references li p {
	font-size: 1.4em;
	font-family: RobotoBold;
}

#references li a {
	margin: 3px;
	display: inline-block;
	color: var(--c-white);
	padding: 10px;
	background-color: var(--c-black);
	border-radius: 20px;
	text-decoration:none;

}

/*--------------------------------------------------------------------*/
/*                       All : width < 1050px                          */
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1050px) {

	#contact-table div {
		display: block;
	}

	.iconcontact, .contact p {
		display: inline-block;
	}

	#div-contact {
    	padding: 20px;
	}

	.contact {
		width: 100%;
	}

	.contact i {
		padding-right: 20px;
	}

	#references {
		margin: 0px;
		padding: 0px;
	}
}