footer {
	height: 200px;
	width: 100vw;
	background-color: var(--c-black);
	position: fixed;
	bottom: 0px;
	z-index: -10;
}

footer p {
	font-family: RobotoBold;
	font-size: 1.2em;
	white-space: nowrap;

	position: absolute;
	top: 50%;
	left: 50%;  
	transform: translate(-50%, -50%);
	color: var(--c-white);
}

/*--------------------------------------------------------------------*/
/*                       All : width < 640px                          */
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 640px) {

	footer p {
		font-size: 0.8em;
		white-space: nowrap;
	}
}