* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: sans-serif;
}
header {
	padding: 30px;
	background-color: black;
	color: white;
}
header h1 {
	font-size: 6em;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
}
header h2 {
	margin-left: 20px;
	font-size: 3em;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
}
article {
	margin: 80px 0px;
	background-color: #CCCCCC;
	padding: 20px;
	position: relative;
}
article::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -40px;
	left: 0px;
	border-top: solid 40px #CCCCCC;
	border-left: solid 100vw white;
}
article h2 {
	margin-top: -40px;
	margin-left: -20px;
	background-color: #CCCCCC;
	line-height: 40px;
	width: 150px;
	text-align: center;
	position: relative;
}
article h2::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	top: 0px;
	right: -20px;
	border-top: solid 20px white;
	border-left: solid 20px #CCCCCC;
}
section{
	display: inline-block;
}


#colors li {
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border-radius: 4px;
	background-color: white;
	text-align: center;
	cursor: pointer;
}


#levels p {
	background-color: white;
	width: 400px;
	margin: 5px;
	padding: 5px

}
